.gradient-background {
    background: linear-gradient(300deg, #EDF1D6, #9DC08B, #609966, #40513B);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.text{
    font-family: Montserrat;
}

.subTitle{
    font-family: Playfair;
}

/* Title */
.title{
    font-family: Playfair;
    font-size: 1.5rem;
}


.title-item {
    color: white;  
    font-family: Playfair;  
}

/* About me */
.profile-pic{
    border-radius: 10%;
}

/* Skills */
#skills{
    background-color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;    
}

.carousel-inner{
    padding: 2% 5%;
}

.carousel-image{
    font-size: 200px;
}

/* Projects */

#projects{
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Experience */
#experience{
    background-color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Education */
#education{
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Hobbies */
#hobbies{
    background-color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
}
